XML/cpu.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="list">
<xs:complexType>
<xs:sequence>
<xs:element name="processor" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="Brand"/>
<xs:element type="xs:string" name="Name"/>
<xs:element type="xs:byte" name="Cores"/>
<xs:element type="xs:byte" name="Threads"/>
<xs:element type="xs:string" name="Baseclock"/>
<xs:element type="xs:string" name="Turboclock"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>