XML/plant.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="catalog">
<xs:complexType>
<xs:sequence>
<xs:element name="plant" maxOccurs="unbounded" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" name="Common"/>
<xs:element type="xs:string" name="Botanical"/>
<xs:element type="xs:byte" name="Zone"/>
<xs:element type="xs:string" name="Light"/>
<xs:element type="xs:string" name="Price"/>
<xs:element type="xs:int" name="Availability"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>